
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@if (Session["girisUyari"]!=null)
{
<p style="color:red;font-weight:bold;"> @Session["girisUyari"].ToString()</p>
}

<form action="/Home/Login" method="post">


    <div>
        <div class="form-group">
            KADI :  <input type="text" class="form-control" name="kullaniciAdi" value="" />
        </div>
        <div class="form-group">
            PASS :  <input type="text" class="form-control" name="Parola" value="" />
        </div>
        <input type="submit" class="btn btn-info" name="name" value="Giriş Yap" />
    </div>
</form>







