
@Html.Label("İlçe seçiniz:", new { @class = "control-label col-md-2", @enable = "false", @id = "ikinciDrop" })
<div class="col-md-10">
    @Html.DropDownList("IlceID", null, htmlAttributes: new { @class = "form-control" })

</div>


