@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<br />
<span> Arama</span>
<br />
<input type="text" id="search" placeholder="Ara" name="name" value="" />


@section scripts{
    <script>
        $(function () {
            $("#search").autoComplete({
                source: "/Home/Searching",
                minLenght: 1,
                select: function (event, ui) {
                    alert(ui.item.value);
                }
            });
        });
    </script>
}